.progress-bar{
  position: fixed;
  bottom: 0.6rem;
  left: 1rem;
  right: 1rem;
  z-index: 999;
  overflow: hidden;
  border: 0.1rem solid #FFF;
  border-radius: 1rem;
  background-color: #8bc1b0;
  #load-count{
    height: .5rem;
    background-color: #15cabe;
    width: 0%;
    text-align: center;
    transition: width 1s;
    -moz-transition: width 1s;
    -webkit-transition: width 1s;
    -o-transition: width 1s;
  }
  #load-text{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    height: .5rem;
    line-height: .5rem;
  }
}
.star-bg-box{
  animation: spin 6s linear infinite
}
@keyframes spin {
0% {
   	transform:rotate(0deg);
 }
 100% {
   	transform:rotate(-360deg);
 }
}
.star-box{
  transform-origin: center bottom;
  transform-style: preserve-3d;
  // box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.1), inset 0 0 250px 250px rgba(0, 0, 0, 0.1);
  animation: star 6s linear infinite;
}
@keyframes star {
  0% {
     	  transform: rotateX(360deg)  scale(1);
   }
   50% {
       transform: rotateX(320deg) rotateY(20deg)  scale(0.9);
   }
   100% {
       transform: rotateX(360deg) scale(1);
   }

}
