.header{
  position: relative;
  z-index: 0;
  overflow: hidden;
  min-height: 9rem;

  .star-box,.phone6{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
  }
  .star-box{
    z-index: 8;
  }
  .phone6{
    z-index: 9;
    img{
      margin-top: 1rem;
    }
  }
}
