body{
  background-color: #15cbbf;
}
.app{
  padding-bottom: 5.8rem;
  min-width: 320px;
  max-width: 720px;
  margin: 0 auto;  
}
.mg-lf-rem-05{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.mg-lf-rem-1{
  margin-left: 1rem;
  margin-right: 1rem;
}
.pd-lr-rem-1{
  padding-left: 1rem;
  padding-right: 1rem;
}
.pd-lr-rem-05{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
